<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
    <h1>My name is William Garofalo!</h1>
    <h2>I am from <em>Fairfield, New Jersey</em>.</h2>
    <p>I attended <strong>West Essex High School</strong>. Our mascot was the <strong>Knight</strong>.</p>

    <p>The sports I played were:</p>
    <ul>
        <li>Football</li>
        <li>Wrestling</li>
        <li>Basketball</li>
    </ul>

    <h3>I know go to the <em>University of Maryland</em>.</h3>
    <p>Our mascot is a tutle. His name is <strong>Testudo</strong>.</p>

    <p>His favorite foods are:</p>
    <ol>
        <li>Kale</li>
        <li>Cabbage</li>
        <li>Carrots</li>
    </ol>

    <!-- This is a comment for the beginning of the table code. -->

    <p>These are the courses that I took:</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring22</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall22</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring23</td>
        </tr>

    </table>

    <!-- This is the code for the photo of the Smith School. -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="250" height="70" alt="UMDSmith" >

    <p> This is the hyperlink to my <a href="http://127.0.0.1:5000/hello">Hello HTML</a> file. </p>

    <p> This is the hyperlink to my favorite website <a href="https://www.espn.com/">ESPN</a>. </p>

    <!-- This is a comment for the hyperlink to a new browser. -->
    <p> This is the hyperlink to a new browser: <a href="https://www.rhsmith.umd.edu/" target="_blank">The Smith Website</a>. </p>

</body>
</html>