{% extends "base.html"  %}
{% block page_title  %} Contact {% endblock %}
{% block page_head  %} Contact Form {% endblock %}

{% block page_conten  %}
        {%  if form_submitted %}
            <div class="col-12">
                <h2>Thank you for completing the form</h2>
            </div>
            <div class="col-md-6">
                <p>First Name:</p>
            </div>
            <div class="col-md-6">
                <p>{{  request.form.get('first_name')}}</p>
            </div>
            <div class="col-md-6">
                <p>Last Name:</p>
            </div>
            <div class="col-md-6">
                <p>{{  request.form.get('last_name')}}</p>
            </div>
            <div class="col-md-6">
                <p>Email:</p>
            </div>
            <div class="col-md-6">
                <p>{{  request.form.get('email')}}</p>
            </div>
            <div class="col-md-6">
                <p>Favorite Hobby:</p>
            </div>
            <div class="col-md-6">
                <p>{{  request.form.get('hobby')}}</p>
            </div>
        </div>

        <p><a href="{{ url_for('contact') }}">Complete Form Again</a></p>
{% endblock %}